body{

    font-family: 'Nunito', sans-serif;
    margin:0 auto;

}

h2{
    text-align: center;
    margin-top: 20px;
}

.header {
   
   width:100%;
   height:50px;
   padding:10px;
   margin-top: 30px;



}

.input {
 
    border-radius: 15px;
    border:solid 2px greenyellow;
    text-align: left;

    font-size: 15px;

    padding:8px;
    float:left;
    margin-left:80px;
    box-shadow: 2px 1px 4px darkgray ;




}



.container {
    
    width:auto;
    height:auto;
    margin:0 auto;
    margin-top: 100px;
    
}

.form {
    
    
    background-color: rgba(52 ,43 , 94 ,0.4);
    padding: 4%;
    color:floralwhite;
    height:250px;
    border-radius: 5px;
    box-shadow: 10px 20px black;
    border: none;
    
}

.form_input {
    
    margin-bottom: 3%;
    
    border-radius: 2px; 
    border: none;
    height:25px;
    width:150px;
    padding: 2px;
    float:left;
    vertical-align: center;
    }


.line {
    position:relative;
    background-color:cadetblue;
    opacity:0.8;
    width:95%;
    height:1px;
    border-radius: 1px;
    margin-bottom: 10px;

}

.button {
    background-color:darkcyan;
    border-radius: 2px;
    border:none;
    height:25px;
    width:25%;
    color:whitesmoke;
    float:left

       
}

#reg_btn {
     margin-left: 4%;
}

.dashboard_container {
  position:relative;
  border-right,border-bottom:solid 1px grey;
  box-shadow: 1px 3px 2px 0 grey;
  margin: 0 auto;
  margin-top:30px;
  padding: 20px;
  height: 500px;
  width:80%;


}

.table_data {
 
   background-color: black
   margin:0 auto;

}

.boxes{
    font-size:18px;
    text-align: left;
    height:150px;
    width:500px;
    padding-left:8px;
    background-color: transparent;
    margin: 20px;
    float:left;
    box-shadow: 1px 1px 5px  black;
    border-radius:3px;
    boder:none;
    margin-left:5%;

    }


